<!DOCTYPE html>
<html>
 <!--<link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">-->
 <link rel="stylesheet" href="./index.css"/>
 <!--<link rel="stylesheet" href="index.css">-->
 <head>
  <title>Josh's Creative Project</title>
 </head>
 <body class="background">
  <h1>My Wish List</h1>
  <ul>
   <li><a href="./index.html">Home</a></li>
   <li><a href="./sun.html">Sunrise/Sunset info</a></li>
   <li><a href="./about.html">About Us</a></li>
   <li><a href="./adventures.html">Our Adventures</a></li>
   <li><a href="./wishList.html">My Wish List</a></li>
   <li><a href="./feedback.html">Feedback</a></li>
  </ul>
  <p>This page is a place for you to make some notes to yourself to <br> record which parks you would most like to visit.</p>
  <div id="app">
    <p>Click <a v-on:click="InitParks()">here</a> to begin with a list of parks found on this website, or enter a park that you would like to visit below.</p>
    <p v-show="filteredparks.length == 0">Add a park below.</p>
    <form v-on:submit.prevent="addPark">
      <input type="text" v-model="message">
      <button type="submit">Add</button>
    </form>
    <br>
    <div class="controls" v-if="filteredparks.length !== 0">
      <button v-on:click="showAll()">Show All</button>
      <button v-on:click="showFives()">Show 5-star parks</button>
      <button v-on:click="showFours()">Show 4-star parks</button>
      <button v-on:click="showThrees()">Show 3-star parks</button>
      <button v-on:click="showTwos()">Show 2-star parks</button>
      <button v-on:click="showOnes()">Show 1-star parks</button>
    </div>
    <br><br><br>
    <ul>
      <div v-for="park in filteredparks" draggable="true" v-on:dragstart="dragItem(park)" v-on:dragover.prevent v-on:drop="dropItem(park)">
        <!--<li v-for="item in filteredparks">
        <input type="checkbox" v-model="item.completed" v-on:click="completeItem(item)" /><label v-bind:class="{ completed: item.completed }">{{ item.text }}</label>
        <label>{{ item.text }}</label>-->
        <span class='rate'>1</span><input type="checkbox" v-model="park.one" v-on:click="CheckOne(park)"/>
        <span class='rate'>2</span><input type="checkbox" v-model="park.two" v-on:click="CheckTwo(park)"/>
        <span class='rate'>3</span><input type="checkbox" v-model="park.three" v-on:click="CheckThree(park)"/>
        <span class='rate'>4</span><input type="checkbox" v-model="park.four" v-on:click="CheckFour(park)"/>
        <span class='rate'>5</span><input type="checkbox" v-model="park.five" v-on:click="CheckFive(park)"/>{{park.message}}
        <!--<label v-bind:class="{ completed: item.completed }">{{ item.text }} Rating: {{ item.rating }}
        <input type='text' v-model="message" v-on:keyup.enter="addComment(item,message)"/>-->
        <button v-on:click="deletePark(park)" class="delete">Remove Park From List</button><!--<p v-for='note in item.ratings'>{{note}}</p>--><br><br></div>
    </ul>
  </div>
    <br><br>
    <!--Line below was added for CP 4-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js" integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./wscript.js"></script>
  </body>
  <p><a class="footer" href="https://github.com/jbasden/Creative-Project.git">GitHub Repository</a></p>
</html>
